html {
    scroll-behavior: smooth;
}
/* variables */
:root {
    --main-purple-color: #5c48f1;
    --elements-background-color: #eeecfd;
    --section-color-pair: #ffc300;
    --section-color-impair: #ffea00;
  }
/* end variables */

/* start header */
* {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(73, 186, 218);
    background-color: rgb(73, 186, 218);
    height: 60px;
    max-height: 60px;
}
nav ul {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
    padding-bottom: 10px;
}
nav li a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

#sec1{
    color: #eee;
}

nav ul li a:hover {
    color: white;
    text-shadow: 0 0 10px black;
    transform: translateY(-5px);
}
nav ul li a:active {
    color: white;
    text-shadow: 0 0 5px yellow;
}
.landing {
    background-image: url(images/devops-3.avif);
    height: calc(100vh - 60px);
    background-repeat: no-repeat ;
    background-size: cover;
    position: relative;
}
.landing h1 {
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/* end header */

#names{
    font-size: x-large;
}

#TITLESS{
    font-size: 2em;
}

/* devops */
.devops {
    background-color: var(--section-color-impair);
}
.devops .container {
    padding-bottom: 40px;
}
.titles {
    /* margin-top: ; */
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    border: 3px solid green;
    border-radius: 50px;
    top: -34px;
    left: calc(50% + -90px);
}

.devops .container h4 {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: fit-content;
    border-left: 3px solid green;
    padding-left: 10px;
}
.devops .container p {
    padding: 20px;
    line-height: 1.5;
}
.image img {
    border-radius: 10px;
    border: 2px solid #777;
    max-width: 100%;
    transform: translateX(50%);
    margin: 20px 0;
}
.devops .container ol li {
    padding: 0 20px 20px 0;
    color: #2c2b2b;
}
.devops .container ul {
    margin-top: 20px;
}
.devops .container ul li {
    color: #2c2b2b;
    padding-bottom: 20px;
    line-height: 1.5;
}
.devops .container span {
    font-weight: bold;
    padding-bottom: 20px;  
}

/* end devops */
/* automatisme */
.automatisme {
    background-color: var(--section-color-pair);
}
.automatisme .container {
    padding-bottom: 40px;
    position: relative
}
.automatisme p {
    padding: 20px;
    line-height: 1.5;
    color: #2c2b2b;
}
/* .automatisme .image img {
    border-radius: 10px;
    border: 2px solid #777;
    max-width: 100%;
    transform: translateX(50%);
    margin: 20px 0;
    padding: 20px;
} */
.automatisme .box {
    border: 2px solid #777;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
.automatisme .box h4 {
    margin-bottom: 15px;
}
.automatisme .box p {
    color: white;
    border-left: 3px solid purple;
    padding:0 0 0 10px;
    background-color: rgb(161, 157, 157);
}
/* end automatisme */
/* collaboration */
.collaboration {
   background-color: var(--section-color-impair);
}
.collaboration .container {
    padding-bottom: 40px;
    position: relative
}
.collaboration p {
    padding: 20px;
    line-height: 1.5;
    color: #2c2b2b;
}
.collaboration .container ul {
    margin-top: 20px;
    list-style: none;
    padding: 20px;
}
.collaboration .container ul li {
    color: #2c2b2b;
    padding:20px;
    line-height: 1.5;
    border-left: 3px solid purple;
    background-color: #7c70da41;
    margin-bottom: 20px;
}
.collaboration .container span {
    font-weight: bold;
    padding-bottom: 20px;  
}
.collaboration .container .image {
    width: 400px;
}
/* .collaboration .container .image img {
    border-radius: 10px;
    border: 2px solid #777;
    max-width: 100%;
    transform: translateX(50%);
    margin: 20px 0;
    padding: 20px;
} */
/* end collaboration */

/* Culture_DevOps */
.Culture_DevOps {
    background-color: var(--section-color-pair);
}
.Culture_DevOps .container {
    padding-bottom: 40px;
    position: relative
}

.Culture_DevOps p {
    padding: 20px;
    line-height: 1.5;
    color: #2c2b2b;
}
/* .Culture_DevOps .image img {
    border-radius: 10px;
    border: 2px solid #777;
    max-width: 100%;
    transform: translateX(50%);
    margin: 20px 0;
    padding: 20px;
} */
.Culture_DevOps .box {
    border: 2px solid #777;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
.Culture_DevOps .box h4 {
    margin-bottom: 15px;
}
.Culture_DevOps .box p {
    color: white;
    border-left: 3px solid purple;
    padding:0 0 0 10px;
    background-color: rgb(161, 157, 157);
}
.Culture_DevOps h4 {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: fit-content;
    border-left: 3px solid green;
    padding-left: 10px;
}
/* end Culture_DevOps */

/* Sécurité_DevSecOps */
.Sécurité_DevSecOps {
    background-color: var(--section-color-impair);
 }
 .Sécurité_DevSecOps .container {
     padding-bottom: 40px;
     position: relative
 }
 .Sécurité_DevSecOps p {
     padding: 20px;
     line-height: 1.5;
     color: #2c2b2b;
 }
 .Sécurité_DevSecOps .container ul {
     margin-top: 20px;
     list-style: none;
     padding: 20px;
 }
 .Sécurité_DevSecOps .container ul li {
     color: #2c2b2b;
     padding:20px;
     line-height: 1.5;
     border-left: 3px solid purple;
     background-color: #7c70da41;
     margin-bottom: 20px;
 }
 .Sécurité_DevSecOps .container span {
     font-weight: bold;
     padding-bottom: 20px;  
 }
 .Sécurité_DevSecOps .container .image {
     width: 400px;
 }
 /* .Sécurité_DevSecOps .container .image img {
    border-radius: 10px;
    border: 2px solid #777;
    max-width: 100%;
    transform: translateX(50%);
    margin: 20px 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
 } */

 .Sécurité_DevSecOps h3 {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: fit-content;
    border-left: 3px solid red;
    padding-left: 10px;
}

.Sécurité_DevSecOps h4 {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: fit-content;
    border-left: 3px solid green;
    padding-left: 10px;
}
 /* end Sécurité_DevSecOps */
 

 /* conclusion */
.conclusion{
    padding: 20px;
    line-height: 1.5;
    color: #ffea00;
    background-color: rgb(5, 159, 193);
}
#conclo{
    padding: 10px;
    background-color: #15bce1;
    color: #eee;
}

.conc_container{
    margin-top: -50px;
}
 /* end conclusion */

 